
/*********** 
************ General styles start 
***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;

    --bg-color-dark: #383838;
    --bg-color-light: #f4f4f4;

    --primary-text-color: #181820;
    --secondary-text-color: #f4f4f4;
    --durability-text-color: #6a737d9c;
    --icon-color: #6a737d;
    --border-color: #ff9a0045;
    --text-decoration-color: #ff9a00;
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 900px;
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

.container .left {
    background-color: var(--bg-color-dark);
    min-width: 300px;
    color: var(--secondary-text-color);
}

.container .right {
    background-color: var(--bg-color-light);
    width: 100%;
    color: var(--primary-text-color);
}

article {
    padding: 15px 30px;
}

.avatar {
    max-width: 300px; 
}


.skills .wrapper {
    display: flex;
}



/*
@media screen and (max-width: 576px) {

    .main-info,
    .contact_info_container {
        flex-direction: column;
    }

    .contact_info_container {
        align-items: center;
    }

    .contact-info__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .experiences {
        margin-right: 0;
    }
}
*/

/*********** General styles end ***********/

